.jumbotron {
    background-image: url("../images/pexels-edward-jenner-4031366.jpg");
    background-size: 100% 100%;
    text-align: center;
}

body {
    background-color: #b6d7e9;
}

h1 {
    font-weight: bold;
}

.panel-heading {
    color: #0b5f97;
}

* {
    font-size: 100%;
    font-family: Verdana, sans-serif;
   }

